{% extends 'base.html' %}

{% block content_title %}
Booking History 
{% endblock content_title %}

{% block content_extra_nav %}

    <div class="px-1.5">
        <p class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
           
                <span class="text-base text-gray-500 hover:text-gray-500 font-bold px-2 dark:text-white dark:hover:text-white">
                    Booking History                                                                                       
                </span>            
            
            </p>
    </div>
{% endblock content_extra_nav %}

{% block content %}

    <div class=" mx-auto">
        <form method="GET" class="flex items-stretch justify-center" >   
            {% csrf_token %} 
            <div class="p-1 w-24">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <input type="number"  value="{{request.GET.search_id}}" name="search_id" class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ID">
                </div>
            </div>
            <div class="p-1">  
                <select name="search" class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="">All</option>
                    <option value="Wait">Wait</option>
                    <option value="Finalized">Finalized</option>
                    <option value="Cancel">Cancel</option>
                </select>
            </div>
           
            <div class="p-1">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd">
    
                            </path>
                        </svg>
                        </div>
                    <input datepicker datepicker-format="yyyy-mm-dd" datepicker-autohide type="text" id="default-search" value="{{request.GET.start}}" name="start" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                    <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                </div>
            </div>
    
        </form>
    </div>
            
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-200">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-200">
                <tr>
                    <th scope="col" class="px-1 py-2">
                        Id
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Created
                    </th>
                    <th scope="col" class="px-1 py-2">
                        client
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Profile
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Room
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Services
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Discount
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Advance
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Balance
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Total
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Position
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Time start
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Time end
                    </th>
                    <th scope="col" class="px-1 py-2">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for object in booking %}
                <tr class="bg-white text-xs border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-1 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{object.id}}
                    </th>
                    <td class="px-1 py-2">
                        {{object.created|date:'y-m-d H:i'}}
                    </td>
                    <td class="px-1 py-2">
                        {{object.client}}
                    </td>
                    <td class="px-1 py-2">
                        {{object.profile}}
                    </td>
                    <td class="px-1 py-2">
                        {{object.room}}
                    </td>
                    <td class="px-1 py-2">
                        &nbsp;&nbsp;
                        <a href="{% url 'administrator:list_service_booking' object.id %}?datapage={{request.GET.page}}&search_id={{request.GET.search_id}}&search={{request.GET.search}}&start={{request.GET.start}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            {{object.count_service}}
                        </a>
                        {% if object.count_service_cancel > 1 %}
                            <span class="text-red-600">
                                &nbsp;&nbsp;{{object.count_service_cancel}}
                            </span>
                        {% else %}
                            <span>
                                &nbsp;&nbsp;{{object.count_service_cancel}}
                            </span>
                        {% endif %}    

                    </td>
                    <td class="px-1 py-2">
                        $ {{object.discount|floatformat:0}}
                    </td>
                    <td class="px-1 py-2">
                        $ {{object.advance_price|floatformat:0}}
                    </td>
                    <td class="px-1 py-2">
                        $ {{object.balance|floatformat:0}}
                    </td>
                    <td class="px-1 py-2">
                        $ {{object.total_price|floatformat:0}}
                    </td>
                    {% if object.position == 'Cancel' %}
                    <td class="px-0 py-2 text-xs text-red-600">
                        {{object.position}}-{{object.condition_pay}}
                    </td>
                    {% elif object.position == 'Finalized' %}
                    <td class="px-0 py-2 text-xs text-blue-600">
                        {{object.position}}-{{object.condition_pay}}
                    </td>
                    {% else %}
                    <td class="px-0 py-2 text-xs">
                        {{object.position}}-{{object.condition_pay}}
                    </td>
                    {% endif %}
                    <td class="px-1 py-2">
                        {% if object.active %}
                        {{object.active|date:'y-m-d H:i'}}
                        {% else %}
                        None
                        {% endif %}
                    </td>
                    <td class="px-1 py-2">
                        {% if object.end_booking %}
                        {{object.end_booking|date:'y-m-d H:i'}}
                        {% else %}
                        None
                        {% endif %}
                    </td>
                    <td class="px-1 py-2 text-xs">
                        {{object.description}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    

    <div class="pagination text-center py-2">
        <span class="step-links justify-between">
            {% if page_obj.has_previous %}
                <a href="?page=1&search_id={{request.GET.search_id}}&search={{request.GET.search}}&start={{request.GET.start}}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&search_id={{request.GET.search_id}}&search={{request.GET.search}}&start={{request.GET.start}}"class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">previous</a>
            {% endif %}
    
            <span class="current text-sm text-gray-600">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&search_id={{request.GET.search_id}}&search={{request.GET.search}}&start={{request.GET.start}}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&search_id={{request.GET.search_id}}&search={{request.GET.search}}&start={{request.GET.start}}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">last &raquo;</a>
            {% endif %}
        </span>
    </div>
 
{% endblock content %}



