{% extends 'base.html' %}

{% block content_title %}
Change Password
{% endblock content_title %}

{% block content %}

    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen p-4 pb-20 text-center sm:block sm:p-0 ">
            <div class="fixed inset-0 bg-gray-400 bg-opacity-75 transition-opacity dark:bg-gray-500" aria-hidden="true"></div>
                <div class="relative inline-block align-bottom rounded-lg overflow-hidden shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-2xl sm:w-full">
                    <div class="flex items-baseline justify-center">

                        <div class="w-full max-w-xl p-1 bg-white border border-gray-200 rounded-lg shadow-md sm:p-1 md:p-1 dark:bg-gray-800 dark:border-gray-700">
                            <form class="space-y-2" method="POST">
                                {% csrf_token %}
                                <h5 class="text-xl font-medium text-gray-900 dark:text-white shadow-md">CHANGE PASSWORD</h5>

                                <div class="p-2">
                                    <label for="old_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.old_password.label}}</label>
                                    {% if form.old_password.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.old_password.errors}}</span>
                                    {%endif%}
                                </label>
                                    <input type="password" name="old_password" id="old_password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                </div>
                                <div class="p-2">
                                    <label for="new_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.new_password1.label}}</label>
                                    <input type="password" name="new_password1" id="new_password1" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                </div>
                                <div class="p-2">
                                    <label for="new_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.new_password2.label}}</label>
                                    
                                    {% if form.new_password2.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.new_password2.errors}}</span>
                                    {%endif%}
                                    <input type="password" name="new_password2" id="new_password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                </div>
                                        
                                <div class="p-1">
                                    <button 
                                        type="submit" 
                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg  px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                        Change
                                    </button>                               
                                </div>
                                <div class="p-1">
                                    <a href="{% url 'profileuser:list_profile' %}" 
                                        class="flex w-full justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                        Cancel
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}