{% extends 'base.html' %}

{% block content_title %}
Dashboard
{% endblock content_title %}

{% block content_extra_nav %}

<div class="px-1.5">
    <p class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
    
        <span class="text-base text-gray-500 hover:text-gray-500 font-bold px-2 dark:text-white dark:hover:text-white">
            Dashboard                                                                                       
        </span>            
        
    </p>
</div>
{% endblock content_extra_nav %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
           
    <div class=" mx-auto">
        <form method="GET" class="flex items-stretch justify-center" >   
            {% csrf_token %} 

            <div date-rangepicker datepicker-format="yyyy-mm-dd" datepicker-autohide class="flex items-center">

                <div class="relative">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                  </div>
                  <input name="start" type="text" value="{{request.GET.start}}" 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
                </div>

                <span class="mx-2 text-gray-500">to</span>

                <div class="relative">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                  </div>
                  <input name="end" type="text" value="{{request.GET.end}}" 
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
                </div>

                <div class="relative mx-2">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                </div>

            </div>
    
        </form>
    </div>

    <div class="text-center">
        <h5 class="font-medium text-gray-900 dark:text-gray-900 shadow-md mb-2 uppercase">
            Financial Data
        </h5> 
    </div>
    
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-1 lg:grid-cols-2 xl:gap-x-8">
        
        <div class="px-1 w-full justify-center shadow-md border border-gray-300 rounded-lg bg-gray-50 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600">
            <canvas class="p-1" id="chartBar"></canvas>
    
            <script>
                const labelsBarChart = [{% for sale in sale %}"{{sale.day}}",{% endfor %}];
                const dataBarChart = {
                labels: labelsBarChart,
                datasets: [
                    {
                    label: "",
                    backgroundColor: "rgb(86, 93, 245)",
                    borderColor: "white",
                    data: [{% for sale in sale %}{{sale.sum_sale}},{% endfor %}],
                    },
                ],
                
                };
            
                const configBarChart = {
                type: "bar",
                data: dataBarChart,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                          ticks: { color: 'rgb(86, 93, 245)', beginAtZero: true }
                        },
                        x: {
                          ticks: { color: 'rgb(86, 93, 245)', beginAtZero: true }
                        }
                    },
                },
                
                };
            
                var chartBar = new Chart(
                document.getElementById("chartBar"),
                configBarChart
                );
            </script>
        </div>
    
        <div class="grid mx-auto grid-cols-1 gap-x-6 sm:grid-cols-2 lg:grid-cols-2 xl:gap-x-8">

            <div class="shadow-md p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-white">
                <canvas id="chartDoughnut"></canvas>

                <script>
                    const dataDoughnut = {
                    labels: ["", ""],
                    datasets: [
                        {
                        label: " Data",
                        data: [{{sum_expense}}, {{sum_sale}}],
                        backgroundColor: [
                            "rgb(232, 35, 26 )",
                            "rgb(86, 93, 245)",
                            "rgb(86, 93, 245)",
                        ],
                        hoverOffset: 4,
                        },
                    ],
                    };
                
                    const configDoughnut = {
                    type: "doughnut",
                    data: dataDoughnut,
                    options: {},
                    };
                
                    var chartBar = new Chart(
                    document.getElementById("chartDoughnut"),
                    configDoughnut
                    );
                </script>
            </div>
            
            <div class="shadow-md justify-center px-4 pt-8 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-white">
                
                <div class="flex items-stretch font-medium text-blue-600 dark:text-blue-500 ">
                    <svg class="w-12 h-12 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd"></path></svg>                                    
                    <div class="mx-auto">
                        <h5 class="text-xl font-bold text-gray-500 dark:text-gray-200 text-center ">Expense</h5>
                        
                        <div class="text-center pt-1">
                        <span class="py-1 px-2.5 text-center whitespace-nowrap align-baseline font-bold text-red-600 rounded">$ {{sum_expense|floatformat}}</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-stretch py-8 font-medium text-blue-600 dark:text-blue-500">
                    <svg class="w-12 h-12" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path><path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path></svg>                                    
                    <div class="mx-auto">
                        <h5 class="text-xl font-bold text-gray-900 text-gray-500 dark:text-gray-200 text-center">Income</h5>
                        
                        <div class="text-center pt-1">
                        <span class="py-1 px-2.5 text-center whitespace-nowrap align-baseline font-bold rounded">$ {{sum_sale|floatformat}}</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-stretch font-medium text-blue-600 dark:text-blue-500">
                    <svg class="w-12 h-12" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>                                    
                    <div class="mx-auto">
                        <h5 class="text-xl font-bold text-gray-900 text-gray-500 dark:text-gray-200 text-center">Balance</h5>
                        
                        <div class="text-center pt-1">
                            <span class="py-1 px-2.5 text-center whitespace-nowrap align-baseline font-bold rounded">$ {{sum_total|floatformat}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
            

{% endblock content %}
