{% extends 'base.html' %}

{% block content_title %}
Update {{object}}
{% endblock content_title %}

{% block content %}

    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen p-4 pb-20 text-center sm:block sm:p-0 ">
            <div class="fixed inset-0 bg-gray-400 bg-opacity-75 transition-opacity dark:bg-gray-500" aria-hidden="true"></div>
                <div class="relative inline-block align-bottom rounded-lg overflow-hidden shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-2xl sm:w-full">
                    <div class="flex items-baseline justify-center">

                        <div class="w-full max-w-xl p-1 bg-white border border-gray-200 rounded-lg shadow-md sm:p-1 md:p-1 dark:bg-gray-800 dark:border-gray-700">
                            <form class="space-y-2" method="POST">
                                {% csrf_token %}
                                <h5 class="text-xl font-medium text-gray-900 dark:text-white shadow-md uppercase px-4">Update {{object}}</h5>

                                <div class="flex flex-wrap justify-center">
                                    
                                    <div class="w-52 p-2">
                                        <label for="{{form.time_start.name}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.time_start.label}}</label>
                                        {% if form.time_start.errors %}                                    
                                            <span class='text-red-600 text-xs'>{{form.time_start.errors}}</span>
                                        {%endif%}
                                        {{form.time_start}}
                                        
                                    </div>
                                    <div class="w-52 p-2">
                                        <label for="{{form.time_end.name}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.time_end.label}}</label>
                                        {% if form.time_end.errors %}                                    
                                            <span class='text-red-600 text-xs'>{{form.time_end.errors}}</span>
                                        {%endif%}
                                        {{form.time_end}}
                                        
                                    </div>
                                    <div class="w-52 p-2">
                                        <label for="{{form.commission_limit.name}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.commission_limit.label}}</label>
                                        {% if form.commission_limit.errors %}                                    
                                            <span class='text-red-600 text-xs'>{{form.commission_limit.errors}}</span>
                                        {%endif%}
                                        {{form.commission_limit}}
                                        
                                    </div>
                                    <div class="w-52 p-2">
                                        <label for="{{form.condition.name}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.condition.label}}</label>
                                        {% if form.condition.errors %}                                    
                                            <span class='text-red-600 text-xs'>{{form.condition.errors}}</span>
                                        {%endif%}
                                        {{form.condition}}
                                        
                                    </div>
                                </div>
                                    
                                <div class="px-4">
                                    <button 
                                        type="submit" 
                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg  px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                        Update
                                    </button>                               
                                </div>
                                
                                <div class="px-4">
                                    <a href="{% url 'administrator:list_admindatetime' %}" 
                                        class="flex w-full justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                        Cancel
                                    </a>
                                </div>

                            </form>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}