{% extends 'base.html' %}

{% block content_title %}
Delete {{object.name_service}}
{% endblock content_title %}

{% block content %}

<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-center justify-center min-h-screen p-4 pb-20 text-center sm:block sm:p-0 ">
        <div class="fixed inset-0 bg-gray-400 bg-opacity-75 transition-opacity dark:bg-gray-500" aria-hidden="true"></div>
            <div class="relative inline-block align-bottom rounded-lg overflow-hidden shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-2xl sm:w-full">
                <div class="flex items-baseline justify-center">

                    <div class="w-full max-w-xl p-1 bg-white border border-gray-200 rounded-lg shadow-md sm:p-1 md:p-1 dark:bg-gray-800 dark:border-gray-700">
                        <form class="space-y-2" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="position" value="Cancel" />
                            <h5 class="text-xl font-medium text-gray-900 dark:text-white shadow-md uppercase px-1">Warning</h5>
                            <h1 class="text-red-800">{{cancel_error}}</h1>

                                <p class="text-lg font-normal text-gray-500 lg:text-xl sm:px-4 xl:px-4 dark:text-gray-400">
                                    Are you sure you want to delete the service {{object.name_service}} to booking N {{object.bookingspa}}?
                                </p>                         
                                
                            <div class="p-1">
                                <button 
                                    type="submit" 
                                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg  px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Delete
                                </button>                               
                            </div>
                            <div class="p-1">
                                <a href="{% url 'booking:list_booking_gestion' %}" 
                                    class="flex w-full justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>

{% endblock content %}